# Base de datos
*.sql
db
db/*

# Bibliotecas
vendor/
node_modules

# Herramientas
Herramientas

# Directorio de archivos
.phpunit.result.cache
uploads
*uploads
*cache
src/descriptors
*Herramientas
storage
.home
app

# Logs del sistema
logs

# Variables de entorno
.env
.env*

# Se permiten las siguientes variables de entorno:
!.env.example
!.env.type.example
!dlunire.type.example
!.type.example

# Archivos compilados
dist
cache
build
builds
.build
.builds